      <h3>
    Estatísticas</h3>
        <div id='conteudo' style="display: block; float: left;" >
            Jogos por plataforma<br><br>
            <table border="1" class="tab">
                <tr>
                    <td class="tab tabh"></td>
                    <td class="tab tabh">PS3</td>
                    <td class="tab tabh">PS4</td>
                    <td class="tab tabh">PSN</td>
                    <td class="tab tabh">Switch</td>
                    <td class="tab tabh">XBLA</td>
                    <td class="tab tabh">Xbox</td>
                    <td class="tab tabh">Xbox 360</td>
                    <td class="tab tabh">Xbox One</td>
                </tr>
        {loop="$estatisticas"}
                <tr>         
                    <td class="tab">{$value.PRO_NOME}</td>
                    <td class="tab"><a href="/jogos/filtrar/?plataforma=2&progresso={$value.PRO_ID}">{$value.PS3}</a></td>
                    <td class="tab"><a href="/jogos/filtrar/?plataforma=7&progresso={$value.PRO_ID}">{$value.PS4}</a></td>
                    <td class="tab"><a href="/jogos/filtrar/?plataforma=3&progresso={$value.PRO_ID}">{$value.PSN}</a></td>
                    <td class="tab"><a href="/jogos/filtrar/?plataforma=8&progresso={$value.PRO_ID}">{$value.Switch}</a></td>
                    <td class="tab"><a href="/jogos/filtrar/?plataforma=5&progresso={$value.PRO_ID}">{$value.XBLA}</a></td>
                    <td class="tab"><a href="/jogos/filtrar/?plataforma=9&progresso={$value.PRO_ID}">{$value.XBOX}</a></td>
                    <td class="tab"><a href="/jogos/filtrar/?plataforma=1&progresso={$value.PRO_ID}">{$value.X360}</a></td>
                    <td class="tab"><a href="/jogos/filtrar/?plataforma=6&progresso={$value.PRO_ID}">{$value.XONE}</a></td>
                </tr>
        {/loop}
                <tr>
                    <td class="tab tabb">Total</td>
        {loop="$qtd"}
                    <td class="tab tabb">{$value.qtd}</td>
        {/loop}
                </tr>
            </table> 
        </div>        

        <div id='conteudo' style="display: block; float: left;" >
            Jogos zerados por ano<br><br>
            <table border="1" class="tab">
                <tr>
                    <td class="tab tabh">Ano</td>
        {loop="$qtdZerados"}         
                    <td class="tab tabh">{$value.ano}</td>
                
        {/loop}
                </tr>
                <tr>
                    <td class="tab tabh">Qtd</td>
        {loop="$qtdZerados"}         
                    <td class="tab"><a href="/jogos/filtrar/?ano={$value.ano}">{$value.qtd}</a></td>
                
        {/loop}
                </tr>
            </table> 
        </div>

    
    