<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <style type="text/css">
       @import url('/css/default.css');
       @import url('/css/font-awesome.min.css');
    </style>
    <link rel="stylesheet" href="/js/jquery-ui.css" />
    <script type="text/jscript" src="/js/jquery-1.8.2.js"></script>
    <script type="text/jscript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
</head>
<body>    
    <div id="geral">
        <div id="cabecalho">
            <h1 id="logo">Projeto Jogos .NET</h1>
        </div>
        <div id="menu">
            <ul>                
            <li><a href="/">Jogos</a></li>
            <li><a href="/empresas/">Empresa</a></li>
            <li><a href="/plataformas">Plataforma</a></li>
            <li><a href="/progressos/">Progresso</a></li>
            <li><a href="/estatisticas/">Estatísticas</a></li>
            </ul>
        </div>