        <div id="submenu">
            <ul>                
                <li><a href="/">Lista</a></li>
                <li><a href="jogos/incluir/">Incluir</a></li>
            </ul>
        </div>
        <div id="menuBusca">
            <ul>
                <li><div id="menuFiltros" >Filtar: <input type="text" id="txtFiltroJogo" onkeyup="carregaJogo(this.value)" /></div></li>
                {loop="$plataformas"}
                <li><a href="#" onclick="carregaJogo(document.getElementById('txtFiltroJogo').value,{$value.PLA_ID})"><img src={$value.PLA_LOGO} height="30px" style="margin-right: 1px" alt="{$value.qtd}" title="{$value.qtd}" /></a></li>
                {/loop}
            </ul>
        </div>    
        <div id='conteudo' style="display: block; float: left;" >
        {loop="$jogos"}
            <div class="item">
                <h5>{$value.jogo_nome}</h5>
                <img  Width="140px" src="{$value.jogo_capa}" />
                <div class="product-hover">
                    <a href="/jogos/{$value.jogo_id}/alterar" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Alterar</a>
                    <a href="/jogos/{$value.jogo_id}" class="view-details-link"><i class="fa fa-link"></i> Ver detalhes</a>
                </div>
            </div>
        {/loop}
        </div>

    
    