<script language="javascript">
    function excluirJogo(jogo_id){
        if(confirm('Deseja excluir o jogo?')){
            document.location.href = '/jogos/{$jogo.jogo_id}/excluir/';
        }
    }
</script>
    <div id="submenu">
        <ul>            
            <li><a href="/">Lista</a></li>
            <li><a href="#" onclick="excluirJogo({$jogo.jogo_id})">Excluir</a></li>
        </ul>
    </div>
    <h3>
    Novo jogo</h3>   
    <form action="/jogos/incluir"  method="post">
        <input type="hidden" ID="jogo_id" name="jogo_id" value={$jogo.jogo_id} />
        <input type="hidden" ID="jogo_capa" name="jogo_capa" value={$jogo.jogo_capa} />
        <input type="hidden" ID="imgIni" name="imgIni" value="0" />   
        <div id='conteudo' style="display: block;">   
            <div id="jogocapa" class="itemForm" style="float: left; width: 200px; height: 300px">
                <img id="imgjogocapa" src={$jogo.jogo_capa} width="150px" />
            </div>
            <div class="itemForm">
                Nome            
                <input type="text" ID="jogo_nome" name="jogo_nome" value="{$jogo.jogo_nome}" />
            </div>
            <div class="itemForm">
                Plataforma
                <select ID="pla_id" name="pla_id">
                    {loop="$plataforma"}
                    <option value="{$value.PLA_ID}" {if="$value.PLA_ID == $jogo.pla_id"} selected {/if}> {$value.PLA_NOME}</option>
                    {/loop}
                </select>    
            </div>            
            <div class="itemForm">
                Publisher            
                <select ID="jogo_publisher" name="jogo_publisher" >
                    {loop="$empresa"}
                    <option value="{$value.EMP_ID}" {if="$value.EMP_ID == $jogo.jogo_publisher"} selected {/if}>{$value.EMP_NOME}</option>
                    {/loop}
                </select>    
            </div>
            <div class="itemForm">
                Desenvolvedora            
                <select ID="jogo_desenvolvedora" name="jogo_desenvolvedora">
                    {loop="$empresa"}
                    <option value="{$value.EMP_ID}" {if="$value.EMP_ID == $jogo.jogo_desenvolvedora"} selected {/if}>{$value.EMP_NOME}</option>
                    {/loop}
                </select>    
            </div>
            <div class="itemForm">
                Progresso            
                <select ID="pro_id" name="pro_id">
                    {loop="$progresso"}
                    <option value="{$value.PRO_ID}" {if="$value.PRO_ID == $jogo.pro_id"} selected {/if}>{$value.PRO_NOME}</option>
                    {/loop}
                </select> 
            </div>
            <div class="itemForm">
                <div id="resultado"></div>
                <img ID="imgCapaJogo" Width="100px" /> 
                <input type="Button" ID="btnCApa"  Value="Carregar capa" OnClick="carregaCapa(document.getElementById('jogo_nome').value,document.getElementById('pla_id').options[document.getElementById('pla_id').selectedIndex].text,
                parseInt(document.getElementById('imgIni').value)+parseInt(10));" />
            </div>  
        </div>   
        <div class="command">
            <input type="Submit" ID="btnSalvar"  Value="Salvar" OnClick="" />
            <input type="Button" ID="btnCancelar"  Value="Cancelar"  />
        </div>
             
    </form>

