        <div id="submenu">
            <ul>                
                <li><a href="/plataformas/incluir/">Incluir</a></li>
            </ul>
        </div>    
        <div id='conteudo' style="display: block; float: left;" >
        {loop="$plataformas"}
            <div class="item">
                <h5>{$value.PLA_NOME}</h5>
                <img  Width="140px" src="{$value.PLA_LOGO}" />
                <div class="product-hover">
                    <a href="/plataformas/{$value.PLA_ID}/alterar" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Alterar</a>
                    <a href="/plataformas/{$value.PLA_ID}" class="view-details-link"><i class="fa fa-link"></i> Ver detalhes</a>
                </div>
            </div>
        {/loop}
        </div>

    
    