USE [master]
GO
/****** Object:  Database [erick]    Script Date: 26/06/2018 22:55:40 ******/
CREATE DATABASE [erick]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'erick', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.ESCRITORIO\MSSQL\DATA\erick.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'erick_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.ESCRITORIO\MSSQL\DATA\erick_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [erick].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [erick]
GO
USE [erick]
GO
/****** Object:  User [sa]    Script Date: 26/06/2018 22:55:40 ******/
CREATE USER [sa] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [erick]    Script Date: 26/06/2018 22:55:40 ******/
CREATE USER [erick] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[AVALIACAO]    Script Date: 26/06/2018 22:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVALIACAO](
	[AVA_ID] [int] IDENTITY(1,1) NOT NULL,
	[AVA_VALOR] [int] NULL,
	[AVA_NOME] [varchar](50) NULL,
 CONSTRAINT [PK_AVALIACAO] PRIMARY KEY CLUSTERED 
(
	[AVA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 26/06/2018 22:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[EMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_NOME] [nvarchar](50) NULL,
 CONSTRAINT [PK_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPRESTIMO]    Script Date: 26/06/2018 22:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESTIMO](
	[EMPR_ID] [int] IDENTITY(1,1) NOT NULL,
	[PESS_ID] [int] NOT NULL,
	[JOGO_ID] [int] NOT NULL,
	[EMPR_DATA] [datetime] NULL,
	[EMPR_DATA_DEV] [datetime] NULL,
	[EMPR_SITUACAO] [int] NULL,
 CONSTRAINT [PK_EMPRESTIMO] PRIMARY KEY CLUSTERED 
(
	[EMPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[jogos]    Script Date: 26/06/2018 22:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jogos](
	[jogo_id] [int] IDENTITY(1,1) NOT NULL,
	[jogo_nome] [nvarchar](100) NOT NULL,
	[jogo_capa] [nvarchar](100) NULL,
	[jogo_dt_compra] [datetime] NULL,
	[jogo_publisher] [int] NULL,
	[jogo_desenvolvedora] [int] NULL,
	[pro_id] [int] NULL,
	[loc_id] [int] NULL,
	[jogo_avaliacao] [int] NULL,
	[jogo_status] [int] NULL,
	[pla_id] [int] NULL,
	[mid_id] [int] NULL,
	[jogo_comentario] [nvarchar](max) NULL,
 CONSTRAINT [PK_jogos] PRIMARY KEY CLUSTERED 
(
	[jogo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOCALIZACAO]    Script Date: 26/06/2018 22:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCALIZACAO](
	[LOC_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOC_NOME] [nvarchar](50) NULL,
	[LOC_DESCRICAO] [text] NULL,
 CONSTRAINT [PK_LOCALIZACAO] PRIMARY KEY CLUSTERED 
(
	[LOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MIDIA]    Script Date: 26/06/2018 22:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIDIA](
	[MID_ID] [int] IDENTITY(1,1) NOT NULL,
	[MID_NOME] [nvarchar](50) NULL,
 CONSTRAINT [PK_MIDIA] PRIMARY KEY CLUSTERED 
(
	[MID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PESSOA]    Script Date: 26/06/2018 22:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PESSOA](
	[PESS_ID] [int] IDENTITY(1,1) NOT NULL,
	[PESS_NOME] [nvarchar](50) NULL,
 CONSTRAINT [PK_PESSOA] PRIMARY KEY CLUSTERED 
(
	[PESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PLATAFORMA]    Script Date: 26/06/2018 22:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLATAFORMA](
	[PLA_ID] [int] IDENTITY(1,1) NOT NULL,
	[PLA_NOME] [nvarchar](100) NULL,
 CONSTRAINT [PK_PLATAFORMA] PRIMARY KEY CLUSTERED 
(
	[PLA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROGRESSO]    Script Date: 26/06/2018 22:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRESSO](
	[PRO_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRO_NOME] [nvarchar](50) NULL,
 CONSTRAINT [PK_PROGRESSO] PRIMARY KEY CLUSTERED 
(
	[PRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 26/06/2018 22:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[STA_ID] [int] IDENTITY(1,1) NOT NULL,
	[STA_NOME] [varchar](100) NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[STA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[AVALIACAO]  WITH CHECK ADD  CONSTRAINT [FK_AVALIACAO_AVALIACAO] FOREIGN KEY([AVA_ID])
REFERENCES [dbo].[AVALIACAO] ([AVA_ID])
GO
ALTER TABLE [dbo].[AVALIACAO] CHECK CONSTRAINT [FK_AVALIACAO_AVALIACAO]
GO
ALTER TABLE [dbo].[EMPRESTIMO]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESTIMO_EMPRESTIMO] FOREIGN KEY([JOGO_ID])
REFERENCES [dbo].[jogos] ([jogo_id])
GO
ALTER TABLE [dbo].[EMPRESTIMO] CHECK CONSTRAINT [FK_EMPRESTIMO_EMPRESTIMO]
GO
ALTER TABLE [dbo].[EMPRESTIMO]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESTIMO_PESSOA] FOREIGN KEY([PESS_ID])
REFERENCES [dbo].[PESSOA] ([PESS_ID])
GO
ALTER TABLE [dbo].[EMPRESTIMO] CHECK CONSTRAINT [FK_EMPRESTIMO_PESSOA]
GO
ALTER TABLE [dbo].[jogos]  WITH CHECK ADD  CONSTRAINT [FK_jogos_AVALIACAO] FOREIGN KEY([jogo_avaliacao])
REFERENCES [dbo].[AVALIACAO] ([AVA_ID])
GO
ALTER TABLE [dbo].[jogos] CHECK CONSTRAINT [FK_jogos_AVALIACAO]
GO
ALTER TABLE [dbo].[jogos]  WITH CHECK ADD  CONSTRAINT [FK_jogos_DESENVOLVEDORA] FOREIGN KEY([jogo_desenvolvedora])
REFERENCES [dbo].[EMPRESA] ([EMP_ID])
GO
ALTER TABLE [dbo].[jogos] CHECK CONSTRAINT [FK_jogos_DESENVOLVEDORA]
GO
ALTER TABLE [dbo].[jogos]  WITH CHECK ADD  CONSTRAINT [FK_jogos_LOCALIZACAO] FOREIGN KEY([loc_id])
REFERENCES [dbo].[LOCALIZACAO] ([LOC_ID])
GO
ALTER TABLE [dbo].[jogos] CHECK CONSTRAINT [FK_jogos_LOCALIZACAO]
GO
ALTER TABLE [dbo].[jogos]  WITH CHECK ADD  CONSTRAINT [FK_jogos_MIDIA] FOREIGN KEY([mid_id])
REFERENCES [dbo].[MIDIA] ([MID_ID])
GO
ALTER TABLE [dbo].[jogos] CHECK CONSTRAINT [FK_jogos_MIDIA]
GO
ALTER TABLE [dbo].[jogos]  WITH CHECK ADD  CONSTRAINT [FK_jogos_PLATAFORMA] FOREIGN KEY([pla_id])
REFERENCES [dbo].[PLATAFORMA] ([PLA_ID])
GO
ALTER TABLE [dbo].[jogos] CHECK CONSTRAINT [FK_jogos_PLATAFORMA]
GO
ALTER TABLE [dbo].[jogos]  WITH CHECK ADD  CONSTRAINT [FK_jogos_PROGRESSO] FOREIGN KEY([pro_id])
REFERENCES [dbo].[PROGRESSO] ([PRO_ID])
GO
ALTER TABLE [dbo].[jogos] CHECK CONSTRAINT [FK_jogos_PROGRESSO]
GO
ALTER TABLE [dbo].[jogos]  WITH CHECK ADD  CONSTRAINT [FK_jogos_PUBLISHER] FOREIGN KEY([jogo_publisher])
REFERENCES [dbo].[EMPRESA] ([EMP_ID])
GO
ALTER TABLE [dbo].[jogos] CHECK CONSTRAINT [FK_jogos_PUBLISHER]
GO
ALTER TABLE [dbo].[jogos]  WITH CHECK ADD  CONSTRAINT [FK_jogos_STATUS] FOREIGN KEY([jogo_status])
REFERENCES [dbo].[STATUS] ([STA_ID])
GO
ALTER TABLE [dbo].[jogos] CHECK CONSTRAINT [FK_jogos_STATUS]
GO
USE [master]
GO
